meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

block title
	title #{title}

if mode === 'production'
	meta(name="theme-color" content="#fff")
	meta(name="description" content="Привет, я Филонова Дарья основатель проекта Feell Design.")
