section.banner
    .container
        .banner__inner
            div
                h6.banner__title Понравились примеры работ?
                p.banner__text Оставьте заявку и я просчитаю стоимость работ для вас!

            div
                a(href="#" data-toggle="modal" data-target="#modal-order").banner__btn.btn.btn-primary-outline Оставить заявку
