section.case-coloristics
    .container
        .case-coloristics__inner

            picture.case-coloristics__image-title
                source( srcset=require('../../img/image-titles/image-title-colors-lg.png') media="(min-width: 1024px)" )
                img( src=require('../../img/image-titles/image-title-colors-xs.png') )

            h2.page-case__section-title Колористика

            .case-coloristics__text.page-case__text
                p.
                    Цветовая гамма проекта вдохновлена фильмом Клюзо и Перрена
                    «Океаны» — магнетический синий в сочетании с пастельными
                    оттенками и неоново голубым создают роскошную палитру для
                    пространства музея.

            ul.case-coloristics__colors

                li.case-coloristics__color
                    .case-coloristics__color-box( style="background-color: #3DDEDA;" )
                    .case-coloristics__color-name #3DDEDA

                li.case-coloristics__color
                    .case-coloristics__color-box( style="background-color: #6097B2;" )
                    .case-coloristics__color-name #6097B2

                li.case-coloristics__color
                    .case-coloristics__color-box( style="background-color: #DEB49D;" )
                    .case-coloristics__color-name #DEB49D

                li.case-coloristics__color
                    .case-coloristics__color-box( style="background-color: #F0EDE3;" )
                    .case-coloristics__color-name #F0EDE3

                li.case-coloristics__color
                    .case-coloristics__color-box( style="background-color: #002C8F;" )
                    .case-coloristics__color-name #002C8F
