section.case-description
    .container
        div
            h2.page-case__section-title Описание проекта

            .case-description__content
                .case-description__text
                    p.
                        Почти три четверти земной поверхности покрыты водой.
                        Мы никогда ещё не знали так много об океанах и никогда ещё не приносили им столько вреда. <br/>

                        <br/>

                        Концепция музея об экологии океана создана что бы
                        осветить одну из самых глубоких сфер окружающей среды. <br/>

                        <br/>

                        В процессе работы над масштабным проектом была поставлена задача
                        максимально погрузить зрителя в атмосферу путешествия по бескрайним
                        просторам океана. Началом экспозиции стал лабиринт из нитей площадью
                        600 кв метров, среди которого расположилась коллекция «ледяных» скульптур
                        из стекла как ретроспектива проблем таяния ледников. Густые пряди голубых
                        и синих нитей имитируют толщу воды. Посетителям музея предлагается «нырнуть»
                        в пучину познания и , исследуя пространство лабиринта, узнать о воде, ее формах
                        и состояниях еще больше. Навигацией в лабиринте служит подсветка, она освещает путь ,
                        словно солнце пробивающееся сквозь поверхность океана. <br/>

                .case-description__image
                    img( src=require('../../img/case/case-inner-stone.jpg') )