section.intro
    .intro__background
        .intro__background-inner
            img.intro__background-image( src=require('../../img/section-intro-bg.jpg') )
            .intro__background-lines
                span
                span
                span
                span
                span

    img.intro__image( src=require('../../img/image-titles/image-title-interior.png') )

    .container.intro__container
        .intro__inner
