section.home-section.logical
    picture.logical__title-image( data-home-section-parallax )
        source( srcset=require('../../img/image-titles/image-title-eco-lg.png') media="(min-width: 1024px)" )
        img( src=require('../../img/image-titles/image-title-eco-xs.png') alt="" )

    img.logical__image( src=require('../../img/section-eco-bg.png') alt="" )

    .container
        .home-section__inner.logical__inner
            h2.home-section__title.logical__title Logical
            p.home-section__desc.logical__desc.
                На каком стуле сидеть? <br/>

                И как всегда есть две новости. <br/>

                Первая - все экологи солидарны в том что «прямо сейчас» самое подходящее время остановиться и подумать. Мусор заполнил землю и океан, а озоновый слой подвергается фатальному влиянию со стороны человечества. Дедлайн уже случился, пожалуй пора браться за дело) <br/>

                <br/>

                Вторая новость хорошая и она о технологиях и о выборе. <br/>

                Каждое принятое тобой решение формирует будущее планеты и всего человечества,
                как и мое, поэтому я выбираю Green way. <br/>

                Основывая Feel Design Project я хотела дать людям возможность почувствовать как
                технологии могут гармонично сосуществовать с Землей и решать по настоящему важные
                для всех нас задачи. Это не просто студия дизайна интерьера это комплексный подход
                к жизни, череда вопросов и поиск ответов. <br/>

            .logical__buttons
                a(href="#" data-toggle="modal" data-target="#modal-order").logical__button.btn.btn-primary Оставить заявку
                a(href="#").logical__button.btn.btn-icon
                    i.icon-download
                    span Техническое задание