.intro
    .intro__background
        .intro__background-inner
            picture
                source( srcset=require('../../img/header-bg-lg.jpg') media="(min-width: 1024px)" )
                source( srcset=require('../../img/header-bg-sm.jpg') media="(min-width: 578px)" )
                img.intro__background-image( src=require('../../img/header-bg-xs.jpg') alt="" )

            .intro__background-lines
                span
                span
                span
                span
                span

    object.intro__mouse( type="image/svg+xml" data=require('../../img/icons/mouse.svg') )

    .container-fluid.intro__container
        .intro__inner
            ul.intro__social-media.social-media.social-media_vertical
                li
                    a.icon-behance-simple( href="#" target="_blank" rel="noopener" )
                        span.path1
                        span.path2

                li
                    a.icon-facebook-simple( href="#" target="_blank" rel="noopener" )

                li
                    a.icon-instagram-simple( href="#" target="_blank" rel="noopener" )