section.intro
    .intro__background
        .intro__background-inner
            img.intro__background-image( src=require('../../img/section-intro-bg.jpg') alt="" )
            .intro__background-lines
                span
                span
                span
                span
                span

    img.intro__image( src=require('../../img/image-titles/image-title-interior.png') alt="Interior" )

    .container-fluid.intro__container
        .intro__inner
            ul.intro__social-media.social-media.social-media_vertical
                li
                    a.icon-behance-simple( href="#" target="_blank" )
                        span.path1
                        span.path2

                li
                    a.icon-facebook-simple( href="#" target="_blank" )

                li
                    a.icon-instagram-simple( href="#" target="_blank" )