.case-details
  margin-top: 80px

  &__inner

@include media-md-min
  .case-details
    margin-top: 140px

@include media-lg-min
  .case-details
    margin-top: 160px

@include media-lg-min
  .case-details
    margin-top: 195px

@import "case-3-details/case-detail-plan"
