.intro
  position: relative
  overflow: hidden

  &__background
    overflow: hidden

    &-inner
      display: inline-block
      position: relative
      width: 100%
      margin-left: 50%
      transform: translateX(-50%)

    &-image
      max-width: unset
      min-width: 100%
      max-height: 100vh
      height: 100vh
      object-fit: cover
      margin-left: 50%
      transform: translateX(-50%)

    &-lines
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)

      display: flex
      align-items: center
      justify-content: center
      width: 100%
      height: 100%

      span
        display: block
        width: 1px
        height: 100%
        background: #ffffff
        opacity: .1
        margin: 0 85px

        @include un-margin-vertical

  &__container
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

  &__inner
    position: relative
    width: 100%
    height: 100%

  &__social-media
    position: absolute
    left: 20px
    bottom: 30px

    &:before
      content: ''
      display: block
      width: 1px
      height: 177px
      background: #ffffff
      margin: 0 auto 52px

    a
      color: #fff

  &__mouse
    position: absolute
    bottom: 30px
    left: 50%
    transform: translateX(-50%)
    width: 20px
    height: 28px
    fill: #ffffff

@include media-sm-min
  .intro
    &__background
      &-lines
        span
          margin: 0 125px

@include media-xl-min
  .intro
    &__social-media,
    &__mouse
      bottom: 60px
