.service-inner
  &__content
    p
      color: #141414
      margin: 28px 0

      &.light
        color: #6e6c6b

  &__spliter
    max-width: 400px
    width: 100%
    height: 3px
    margin-top: 36px
    background: #faefeb

  &__btn-download
    margin-top: 34px


@include media-xl-min
.service-inner
  &__content
    max-width: 1210px

@include media-xx-min
  .service-inner
    &__content
      max-width: 1290px

      p:not(.light)
        font-size: 17px