include ../components/header
include ../components/footer

doctype html

html(lang="en")
    head
        include parts/head
        block head

        include parts/styles
        block styles

    body

        block header
            +header()

        block content

        block footer
            +footer()

        block modal
            include ../components/modal
            include ../components/modal-backdrop

        include parts/scripts

        block scripts