.page-service-inner
  padding-top: 125px

  &__head
    position: relative
    margin-bottom: 85px

    &-image
      width: 100%

      img
        width: 100%

    &-title
      position: absolute
      left: 10px
      bottom: -0.45em

      font-family: 'Gotham Pro', sans-serif
      font-weight: bold
      color: #141414
      line-height: 1em

      @include make-font-size(72, 270, 480, 2000)

@include media-lg-max
  .page-service-inner
      &__head
        margin-left: -20px
        margin-right: -20px

@include media-md-min
  .page-service-inner
    padding-top: 121px

    &__head
      margin-bottom: 110px

      &-title
        left: 28px

@include media-lg-min
  .page-service-inner
    &__head
      margin-bottom: 125px

      &-title
        left: 15px

@include media-xl-min
  .page-service-inner
    &__head
      margin-bottom: 155px

@include media-xx-min
  .page-service-inner
    &__head
      margin-bottom: 180px

      &-title
        left: 5%