.page-case
  padding-top: 90px

  &__head
    position: relative

    &-image
      width: 100%
      height: auto

    &-title
      text-transform: uppercase
      color: #141414

      @include make-font-size(20, 60)

  &__section-title
    display: inline-block
    text-transform: uppercase
    font-size: 16px
    color: #b19990
    margin-bottom: 46px

    &:after
      content: ''
      display: block
      width: 100%
      min-width: 190px
      height: 3px
      background-color: #faefeb
      margin-top: 10px

  &__text
    max-width: 939px

    p
      line-height: 24px

  &__image
    width: 100%
    height: auto


@include media-md-max
  .page-case
    &__head
      margin-bottom: 60px

      &-title
        margin-top: 8px

@include media-md-min
  .page-case
    &__head
      position: relative
      margin-bottom: 70px

      &:before
        content: ''
        display: block

        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 51px
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%)
        z-index: 0

      &-title
        position: absolute
        bottom: 0
        padding-bottom: 17px
        z-index: 1

@include media-lg-min
  .page-case
    &__head
      margin-bottom: 75px

      &:before
        height: 88px

      &-title
        padding-bottom: 40px

@include media-xl-min
  .page-case
    &__head
      &:before
        height: 105px

      &-title
        padding-bottom: 36px

@include media-xx-min
  .page-case
    &__head
      margin-bottom: 100px

      &:before
        height: 105px