[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    text-decoration: none !important;
  }
}


.icon-arrow-left:before {
  content: "\e90e";
}
.icon-behance-simple .path1:before {
  content: "\e900";
}
.icon-behance-simple .path2:before {
  content: "\e901";
  margin-left: -1em;
}
.icon-facebook-simple:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-behance:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-explamation:before {
  content: "\e907";
  color: #f44;
}
.icon-facebook:before {
  content: "\e908";
}
.icon-instagram .path1:before {
  content: "\e909";
}
.icon-instagram .path2:before {
  content: "\e90a";
  margin-left: -1em;
}
.icon-instagram-simple:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e90c";
}
.icon-telegram:before {
  content: "\e90d";
}
