extends layout/default

block title
    title Feel Design - Case

block content
    main.page-case

        .page-case__head
            picture
                source( srcset=require('../img/case-header-bg.webp'), type='image/webp' )
                img.page-case__head-image( src=require('../img/case-header-bg.png') alt="" width="414px" height="191px" )
            .container
                h1.page-case__head-title Ocean ecology museum


        include sections/case-1-description
        include sections/case-2-coloristics
        include sections/case-3-details
        include sections/case-4-banner
