extends layout/default

block content
    main
        section.mt-100
            .btn.btn-slider.btn-slider_disabled
                i.icon-arrow-left

            .btn.btn-slider
                i.icon-arrow-right

            .btn.btn-slider
                i.icon-arrow-right

            br

        section.mt-100
            .btn-arrow
                i.icon-arrow-right

        section.mt-100
            .btn.btn-primary Оставить заявку

            br
            .mt-50
            .btn.btn-primary-outline Оставить заявку

            br
            .mt-50
            .btn.btn-secondary Оставить заявку

        section.mt-100
            .btn.btn-icon
                i.icon-download
                span Техническое задание

            br
            .mt-50
            .btn.btn-underline Показать больше

            br
            .mt-50
            .btn.btn-arrow-text
                span Назад
                .btn-arrow-text__arrow
                    i.icon-arrow-left

        section.mt-100
            label.input-block
                input.input-block__input( placeholder="Имя" )
                .input-block__error
                    i.icon-explamation
                    span Обязательное поле

            br
            .mt-50

            label.input-block.is-error
                input.input-block__input( placeholder="Имя" )
                .input-block__error
                    i.icon-explamation
                    span Обязательное поле



        style.
            body {
                background: #C5C5C5;
            }
            main {
                padding-left: 30px;
                padding-right: 30px;
                padding-bottom: 100px;
            }
            .mt-100 {
                margin-top: 100px;
            }

            .mt-50 {
                margin-top: 50px;
            }