extends layout/default

block title
    title Feel Design - Contacts

block content
    main.page-contacts
        img.page-contacts__image-title( src=require('../img/image-titles/image-title-contacts-lg.png') )

        section.contacts
            img.page-contacts__image( src=require('../img/contacts-bg.png') )

            .container
                .contacts__inner
                    h1.page-title.page-contacts__title.contacts__title Написать мне

                    .contacts__form
                        form( action="callback.php" )#contacts-page-form
                            div
                                label.contacts__form-input.input-block
                                    input.input-block__input( type="text" name="name" placeholder="Имя" data-required)

                                label.contacts__form-input.input-block
                                    input.input-block__input( type="email" name="email" placeholder="Email" data-required)

                                label.contacts__form-input.input-block
                                    textarea.input-block__input( name="message" rows="1" placeholder="Сообщение" data-required)

                            .form-error-text Has error

                            .contacts__form-btn-wrapper
                                button( type="submit" ).contacts__form-btn.btn.btn-secondary Отправить

                    .contacts__links

                        .contacts__link-group.contacts__link-contact
                            span Телефон
                            span
                                a( href="tel:+74957557983" ) +7 495 75 57 983

                        .contacts__link-group.contacts__link-contact
                            span Email:
                            span
                                a( href="mailto:info@feeldaria.com" ) info@feeldaria.com

                        ul.contacts__link-group.social-media.social-media_horizontal
                            li
                                a.icon-behance( href="#" target="_blank" )

                            li
                                a.icon-facebook( href="#" target="_blank" )

                            li
                                a.icon-instagram( href="#" target="_blank" )
                                    span.path1
                                    span.path2

block footer

block scripts-lib
    script( src=require('../js/vendor/autosize.min') )