extends layout/default

block title
    title Feell Design

block content
    include sections/home-1-intro
    include sections/home-2-section-story
    include sections/home-3-section-services
    include sections/home-4-cases
    include sections/home-5-logical
