extends layout/default

block title
    title Feel Design - Offer Light

block content
    main.page-service-inner
        .container-fluid
            .page-service-inner__head
                picture.page-service-inner__head-image
                    source( srcset=require('../img/services-inner/service-inner-lights-bg.jpg')  media="(min-width: 1024px)" )
                    img( src=require('../img/services-inner/service-inner-lights-bg-xs.jpg') alt="" )

                h1.page-service-inner__head-title Lights

        section.service-inner
            .container
                .service-inner__content
                    p.
                        Роль света в формировании пространства сложно переоценить.
                        Правильно выстроенное освещение способно визуально трансформировать
                        объём пространства, не затрагивая конструкцию и архитектуру.
                        Неправильное же освещение может уничтожить на корню всю задумку дизайнера.

                    p.
                        Светодизайн — искусство управлять светом. Задача светодизайнера —
                        создать привлекательное и комфортное пространство, учесть взаимодействие
                        с окружающей средой, продумать воздействие на эмоции и настроение человека.
                        Это искусство основывается на научном понимании физических аспектов света,
                        принципах устройства и работы источников света.

                    p.
                        В работе светодизайнер опирается на 3 базиса: эстетическое восприятие,
                        эргономический аспект и энергоэффективность.

                    p.
                        Сегодня светодизайн — пользующееся популярностью направление. До XVIII века
                        в распоряжении людей были только солнечный, лунный и свет огня. И это не
                        мешало создавать потрясающие произведения архитектуры и дизайна интерьеров.
                        В настоящее время у светодизайнеров огромный выбор световых приборов и источников
                        света для решения практически любых задач.

                    p.
                        Современные светодизайнеры способны создавать удивительные иллюзии,
                        изменять восприятие пространства, усилить и подчеркнуть детали. Они заботятся
                        о красоте и стиле интерьеров и экстерьеров, учитывают безопасность и энергоэффективность проектов.

                    p.
                        Светодизайн — сложная и многогранная наука, которая всегда находится в связке с
                        творчеством и искусством. Попробуем разобраться в основах этого направления и
                        особенностях правильного планирования света в интерьере.

                    .service-inner__spliter

                    .service-inner__btn-download.btn.btn-icon
                        i.icon-download
                        span Скачать Презентацию

        include sections/banner