.btn
  display: inline-block
  font-family: 'Gotham Pro', sans-serif
  font-weight: 400
  font-size: 17px
  line-height: 15px
  border: none
  outline: none
  background: none
  cursor: pointer


.btn-primary
  transition: background .3s
  padding: 26px 48px 25px
  background: #141414
  color: #ffffff

  &:hover
    background: #B19990
    color: #ffffff


.btn-primary-outline
  transition: color .3s, background .3s
  background: transparent
  padding: 24px 48px 23px
  border: 2px solid #141414
  color: #141414

  &:hover
    background: #141414
    color: #ffffff


.btn-secondary
  transition: background .3s
  padding: 26px 48px 25px
  background: #FAEFEB
  color: #141414

  &:hover
    background: #EEE0DB

.btn-arrow
  display: inline-flex
  align-items: center
  cursor: pointer
  padding: 5px 0
  font-size: 9px

  &:before
    transition: width .3s
    content: ''

    display: inline-block

    width: 66px
    height: 1px
    margin-right: 7px

    background: #000

  &:hover:before
    width: 102px


.btn-arrow-text
  span
    font-size: 16px
    text-align: right
    display: block

  &__arrow
    display: inline-flex
    align-items: center
    cursor: pointer
    font-size: 9px
    margin-top: 3px

    &:not(.is-right):after,
    &.is-right:before
      transition: width .3s
      content: ''

      display: inline-block

      width: 90px
      height: 1px

      background: #000

    &:not(.is-right):after
      margin-left: 7px

    &.is-right:before
      margin-right: 7px

  &:hover
    .btn-arrow-text__arrow:after,
    .btn-arrow-text__arrow:before
      width: 57px


.btn-icon
  display: inline-flex
  align-items: center
  color: #141414

  span
    margin-top: 3px

  i
    transition: color .3s
    font-size: 18px
    margin-right: 15px

  &:hover i
    color: #B19990

.btn-icon-secondary-fill
  transition: background-color .3s
  padding: 13px 16px
  background-color: #fef5f2
  font-size: 17px

  span
    margin-top: 2px

  i
    font-size: 14px
    color: #b19990

  &:hover
    background: #EEE0DB

.btn-underline
  transition: color .3s
  color: #B19990

  &:after
    transition: background .3s
    content: ''
    display: block
    width: 100%
    height: 1px
    background: #BCB2AE
    margin-top: 15px

  &:hover
    color: #141414

    &:after
      background: #141414

.btn-close
  transition: background .3s
  position: relative

  background: #000
  border: 1px solid #000
  border-radius: 50%
  cursor: pointer

  span
    transition: transform .3s, background .3s

    display: block
    position: absolute
    top: 50%
    left: 50%
    width: 22px
    height: 2px
    margin-left: -11px

    background: #ffffff

    &:first-child
      transform: translateY(-5px)

    &:last-child
      transform: translateY(5px)


  &.is-active
    background: transparent

    span
      background: #000000

      &:first-child
        transform: rotate(45deg)

      &:last-child
        transform: rotate(-45deg)

@include media-xl-max
  .btn-close
    width: 50px
    height: 50px
    min-width: 50px
    min-height: 50px

    span
      width: 18px
      margin-left: -9px

      &:first-child
        transform: translateY(-4px)

      &:last-child
        transform: translateY(4px)


@include media-xl-max
  .btn-close
    width: 50px
    height: 50px
    min-width: 50px
    min-height: 50px

    span
      width: 18px
      margin-left: -9px

      &:first-child
        transform: translateY(-4px)

      &:last-child
        transform: translateY(4px)


@include media-xl-min
  .btn-close
    width: 60px
    height: 60px
    min-width: 60px
    min-height: 60px
