input
  outline: none
  box-shadow: none

.input-block

  &__input
    transition: border 0.3s, background 0.3s, color 0.3s

    border: none
    border-bottom: 1px solid #E9E9E9
    background: transparent
    padding: 10px 18px
    font-size: 17px
    color: #000

    &::placeholder
      color: #514C4A

    &:focus
      border-color: #6E6C6B

      &::placeholder
        color: #141414

  &__error
    display: none
    color: #FC2A2A
    font-size: 16px
    margin-top: 15px

    i
      margin-right: 8px

  &.is-error
    .input-block
      &__input
        border-color: #FC2A2A
        color: #FC2A2A

        &::placeholder
          color: #FC2A2A

      &__error
        display: flex
