.social-media
  a
    display: block
    font-size: 22px
    color: #141414
    padding: 4px

  &_filled a:hover
    color: #B19990

  &_outline a:hover
    color: #000

  &_horizontal
    li
      @include un-margin-horizontal

      display: inline-block
      margin: 0 9px

  &_vertical

    li
      @include un-margin-vertical

      display: block
      margin: 21px 0