mixin header(string)
    header.header( class=string )
        .container-fluid
            .header__inner
                .header__logo.logo
                    svg.logo__icon
                        use( xlink:href=sprite('logo') )

                if routeActive('service-furniture') || routeActive('service-light') || routeActive('service-decor')
                    a(href=route('services')).header__back
                        .btn.btn-arrow-text
                            span Назад
                            .btn-arrow-text__arrow
                                i.icon-arrow-left

                if routeActive('case')
                    a(href=route('cases')).header__back
                        .btn.btn-arrow-text
                            span Назад
                            .btn-arrow-text__arrow
                                i.icon-arrow-left

                .header__menu#header-menu-btn
                    span
                    span


    .menu
